# Datos (no versionar, son de Kaggle)
data/*
!data/.gitkeep
*.csv
*.csv.zip

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/

# SO
.DS_Store

# LaTeX (artefactos de compilacion)
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
